---
porturl:
  security:
    enabled: true
  cors:
    allowed-origins:
      - http://localhost:4200
      - http://127.0.0.1:4200
  otel:
    alloy-url: ${PORTURL_OTEL_ALLOY_URL:http://localhost:4318}
  storage:
    location: data/uploads
  cleanup:
    # Set to true to enable the daily cleanup of orphaned images
    enabled: false
    # A cron expression for when the task should run. Default is 3 AM daily.
    cron: "0 0 3 * * ?"
info:
  auth:
    issuer-uri: "${spring.security.oauth2.resourceserver.jwt.issuer-uri}"
management:
  info:
    env:
      enabled: true
  endpoints:
    web:
      exposure:
        include: info, health, metrics, prometheus
  otlp:
    logging:
      export:
        enabled: true
        url: ${OTEL_EXPORTER_OTLP_LOGS_ENDPOINT:http://localhost:8080/otlp/v1/logs}
    metrics:
      export:
        url: ${OTEL_EXPORTER_OTLP_METRICS_ENDPOINT:http://localhost:8080/otlp/v1/metrics}
        step: 1m
    tracing:
      export:
        url: ${OTEL_EXPORTER_OTLP_TRACES_ENDPOINT:http://localhost:8080/otlp/v1/traces}
  tracing:
    enabled: ${MANAGEMENT_TRACING_ENABLED:true}
    sampling:
      probability: ${MANAGEMENT_TRACING_SAMPLING_PROBABILITY:1.0}
    propagation:
      type: W3C, B3
logging:
  level:
    root: INFO
spring:
  application:
    name: porturl-backend
  main:
    banner-mode: "off"
  datasource:
    url: jdbc:h2:file:./data/porturl
    driverClassName: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    generate-ddl: false
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://sso.yourdomain.com/auth/realms/<yourrealm>
